<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Draw a phase plane for the following system
      of ODEs. Include the isoclines
      <m>x'=0,y'=0</m> and mark each of the
      resulting regions with an arrow system
      describing the directions of trajectories
      in that region. 
    </p>
    <me><%= dxdt %></me>
    <me><%= dydt %></me>
  </statement>
</exercise>
