<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Consider a coupled mass-spring system where 
      the inner mass is <m><%= m_1 %></m> kg, 
      the outer mass is <m><%= m_2 %></m> kg,
    </p>
  </statement>
  <answer>
  </answer>
</exercise>
